[Desktop Entry]
Type=Application
Version=1.0
Name=Heroic Games Launcher
GenericName=Game Launcher
Comment=Play Epic, GOG and Amazon games
Exec=/usr/bin/arcalium-heroic %u
Icon=com.heroicgameslauncher.hgl
Terminal=false
Categories=Game;
Keywords=heroic;epic;gog;amazon;proton;games;
StartupNotify=true
StartupWMClass=Heroic
MimeType=x-scheme-handler/heroic;
X-Flatpak=com.heroicgameslauncher.hgl
