[Desktop Entry]
Type=Application
Version=1.0
Name=Heroic Games Launcher
GenericName=Game Launcher
Comment=Play Epic, GOG and Amazon games (auto-sets up Proton on first launch)
Exec=/usr/bin/arcalium-heroic %u
Icon=com.heroicgameslauncher.hgl
Terminal=false
Categories=Game;Utility;
Keywords=heroic;epic;gog;amazon;proton;games;
StartupNotify=true
MimeType=x-scheme-handler/heroic;
X-Flatpak=com.heroicgameslauncher.hgl
