[Desktop Entry]
Name=Install Arcalium OS
GenericName=Install
Comment=Install Arcalium OS NVIDIA Edition to this compute
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;
Exec=/usr/bin/arcalium-install.sh
Terminal=false
Type=Application
Icon=org.fedoraproject.AnacondaInstalle
StartupNotify=true
StartupWMClass=liveinst
NoDisplay=false
